@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Gothic&family=Permanent+Marker&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --color-primary: #7380ec;
    --color-danger: #ff7782;
    --color-success: #41f1b6;
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-nav: #FCA705;
    --color-light: rgb(132, 139, 200, 0.18);
    --color-primary-variant: #111e88;
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;

    --box-shadow: 0 2rem 3rem  var(var(--color-light));
    --padding-1: 2rem;
    --padding-2: 1.5rem;
    --padding-3: .5rem;
    --padding-4: .3rem;
    --padding-5: .7rem;
    --margin-1: 3rem;
    --margin-2: 1.2rem;
    --margin-3: 1rem;
    --flex-gap-1: .8rem;
    --flex-gap-2: 1.2rem;
    --flex-gap-3: 2rem;

    --border-radius: 2rem;
    --border-radius-1: 0.312rem;

    --font-size-1: 1rem;
    --font-ul: 1.25rem;
    --font-title: 1.5rem;
    --font-subtitle: 1.2rem;
    --font-icon: 1.2rem;
    --font-scrolling-text: 1.8rem;

}

/* =========================== START NAVBAR ============================== */

header .top {
    height: 70px;
    background-color: var(--color-nav);
    font-size: var(--font-scrolling-text);
}

/*================= Scrolling Text ==================*/
.scroll {
    height: 70px;
}

.scroll-horizontal {
    position: static !important;
    display: flex;
    justify-content: center;
    align-items: center;

}

.scroll p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}
/* ========================================== */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-white);
    height: 80px;
}

nav .nav-left {
    display: flex;
    justify-content: flex-end;
    width: 35%;
}

nav .nav-left span {
    font-size: 40px;
    font-weight: 600;
}

nav .nav-left img {
    width: 5rem;
}

nav .nav-middle {
    display: flex;
    width: 60%;
    gap: var(--flex-gap-3);
    padding: var(--padding-1);
}

nav .nav-middle ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--font-ul);
    gap: var(--flex-gap-2);
}

nav .nav-middle .search {
    border: 1px solid var(--color-info-dark);
    background-color: var(--color-background);
    border-radius: var(--border-radius);
    width: 58%;
    height: 2.5rem;
    display: flex;
}

input {
    height: 100%;
    background-color: var(--color-background);
    margin-left: var(--margin-3);
    outline: none;
    border: none;
    font-size: var(--font-size-1);
}

.search__icon--box {
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: var(--color-primary); */
}

.fa-magnifying-glass {
    color: var(--color-dark);
    font-size: var(--font-icon);
}

nav .nav-right {
    display: flex;
    justify-content: flex-start;
    margin-left: var(--margin-1);
    padding-left: var(--padding-2);
    gap: var(--flex-gap-1);
    width: 30%;
}

nav .nav-right button {
    background-color: var(--color-white);
    border: 1px solid var(--color-info-dark);
    text-decoration: none;
    padding: var(--padding-4) var(--padding-5);
    color: var(--color-dark);
    border-radius: var(--border-radius-1);
}

nav .nav-right button:hover {
    background-color: var(--color-primary-variant);
    color: var(--color-white);
}

/* ================= Popup close btn CSS ==================  */
.btn-default {
    border: none;
    border-radius: 10px;
    padding: 0.3rem .5rem;
    background-color: bisque;
    font-family: 'League Gothic', sans-serif;
}

.btn-default:hover {
    cursor: pointer;
}
/* ================ End Popup close btn CSS ================ */